"*":
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "autoflow"
      "wrap-guide"
      "tool-bar"
      "language-coffee-script"
      "nuclide-format-js"
      "linter"
      "welcome"
      "linter-flow"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles:
      cr: " "
      eol: " "
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "e4eaa833-d328-4e96-a7b0-afeb209a3b87"
  "linter-eslint": {}
  "linter-flow":
    executablePath: "./node_modules/.bin/flow"
  "linter-phpcs": {}
  "linter-ui-default":
    panelHeight: 342
  nuclide:
    "nuclide-file-tree":
      revealFileOnSwitch: true
      showUncommittedChanges: false
    "nuclide-flow":
      canUseFlowBin: true
    "nuclide-home":
      showHome: false
    use:
      "nuclide-file-tree": false
      "nuclide-hack": false
      "nuclide-hhvm": false
  "save-workspace-Workspaces":
    BookProject:
      panes: [
        {
          type: "pane"
          data:
            tabs: [
              "/Users/jaketaylor/Development/laravel/bookproject/.gitignore"
            ]
        }
      ]
      projectPaths: [
        "/Users/jaketaylor/Development/laravel/bookproject"
      ]
    Flippie:
      panes: [
        {
          type: "pane"
          data:
            tabs: []
        }
      ]
      projectPaths: [
        "/Users/jaketaylor/Development/laravel/flippie"
      ]
    HTMLHint:
      panes: [
        {
          type: "pane"
          data:
            tabs: []
        }
      ]
      projectPaths: [
        "/Users/jaketaylor/Development/other/htmlhint"
      ]
    TellTrail:
      panes: [
        {
          tabs: [
            "atom://config"
          ]
        }
      ]
      projectPaths: [
        "/Users/jaketaylor/Development/ReactNative/TellTrail"
      ]
    TellTrail2:
      panes: [
        {
          type: "pane"
          data:
            tabs: [
              "/Users/jaketaylor/Development/ReactNative/TellTrail2/App/Scenes/Main/Create/Images/Existing/Album.js"
              "/Users/jaketaylor/Development/ReactNative/TellTrail2/ios/Podfile"
            ]
        }
      ]
      projectPaths: [
        "/Users/jaketaylor/Development/ReactNative/TellTrail2"
      ]
  "tree-view":
    hideVcsIgnoredFiles: true
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
